<% layout("layouts/boilerplate") %>

<h1 style="text-align: center; margin-top: 2rem;"><b><i>Welcome to HomePage!</i></b></h2>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
    <form method="get" action="http://localhost:8080/listings">
        <button style="text-align: center; position: absolute; left: 47.7rem; margin-top: 2rem; height: 3rem; border-radius: 10px; font-size: larger; " class="btn btn-dark">Go to Listings!</button>
    </form>
</div>