<% layout("layouts/boilerplate") %>

    <% if(success && success.length> 0) { %>
        <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

            <div class="row mt-3">
                <h1 class="col-6 offset-3 mt-1 mb-4"
                    style="background-color: black; border-radius: 3rem; color: yellow; text-align: center;">SignUp on
                    WanderLust</h1>
                <div class="col-6 offset-3">
                    <form action="http://localhost:8080/signUp" method="post" class="needs-validation" novalidate>

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>

                        <button class="btn btn-danger mt-2">SignUp</button>

                    </form>
                </div>
            </div>